<%- include("../partials/head") %>
<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/products/admin_newProduct.css">
<main>
<h1>Nuevo Producto</h1>

<form action="/admin/products/add" method="POST">
    <label>Nombre del artículo</label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
    <label>Fabricante</label>
    <input type="text" name="fabricante" id="fabricante"placeholder="Fabricante">
    <label>Tipo de artículo </label>
    <select name="tipo" id="tipo">
        <option value='' selected disabled>Tipo de producto</option>
        <option value="3">Gabinete</option>
        <option value="1">Placa de Video</option>
        <option value="2">Procesador</option>
    </select>
    <label>Precio del articulo</label>
    <input type="text" name="precio" id="precio" placeholder="Precio sin '$'">
    <label>Imagen del articulo <small>(no hay presupuesto para una vista previa)</small></label>
    <input type="file" name="img" id="img" accept=".jpg,.png">
    <label>Descuento</label>
    <input type="text" name="descuento" id="descuento" placeholder="Descuento en %">
    <label>Descripción</label>
    <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripción del artículo"></textarea>
    <button type="submit">Aceptar y publicar</button>
</form>
</main>
<%- include("../partials/footer") %>
