<link rel="stylesheet" href="../../../public/stylesheets/partials/cartContainer.css">
<div class="main" style="background-color: aquamarine;">
    Esto es el main
    <button id="cart-icon">Apretame</button>
    <div id="cart-container" class="hidden">

        <h1>Carrito de compras</h1>

        <button id="close-cart">X</button>

        <section class="cartItems"></section>

        <div id="cartTotalContainer">
        <section class="cartTotal">

            <p id="total">total</p>
            <p id="pesos">$</p>
        </section>
        <button id="payButton">Ir a pagar</button>
        </div>
    </div>
</div>
<script src="../../public/javascripts/cartContainer.js"></script>