<footer>
    <section class="rights">
    <img src="/images/Logo-banner/Logo.jpg" alt="logo-footer">
    <p>©Derechos reservados</p>
    </section>
    <section class="networks">
        <i class="fa-brands fa-square-instagram net"></i>
        <i class="fa-brands fa-square-facebook net"></i>
        <i class="fa-brands fa-square-whatsapp net"></i>
        <p>Dirección del local</p>
    </section>
</footer>
</body>
</html>
