<link rel="stylesheet" href="/stylesheets/partials/header.css">
<link rel="stylesheet" href="/stylesheets/partials/cartContainer.css">
<body>
<header>
    <div id="upper-bar">
        <a href="/" class="imagen"><img src="/images/Logo-banner/Logo.jpg" alt="Logo" id="logo"></a>
        <form action="/products/search" method="get" id="barra"> 
            <input id="search-bar" name="search" type="text" placeholder="Buscar...">
             <button type="submit" id="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
           </form>
        <% if (locals.session && locals.session.user) {%>
            <% if (locals.session.user.img) { %>

                <div style="position: relative; width: 80px; height: 80px;">
                <a href="/users/profile/<%= locals.session.user.id %>"><img src="<%= locals.session.user.img%>" alt="Avatar" id="avatar" style="position:absolute; top: 0; width: 80px; height: 80px; object-fit: cover;border-radius: 50%;"></a>
                </div>
            <% } else { %>

            <a href="/users/profile/<%= locals.session.user.id %>" id="login"><p>Perfíl</p></a>
            <% } %>
            <a href="#" id="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <% } else { %>
        <a href="/users/login" id="login"><p>Ingresar</p></a>
        <a href="#" id="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <% }%>

    </div>
    <nav class="navbar">
        <ul>
            <li><i class="fa-solid fa-bars"></i></li>
            <li><a href="/">Inicio</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="">Contactos</a></li>
            <li><div onclick="DarkMode()"><i class="fa-solid fa-toggle-off button-on-off "></i>
                <i class="fa-solid fa-toggle-on button-on-off hidden"></i>
                 Modo Oscuro</li>
                </div>
        </ul>
    </nav>
    <div id="cart-container" class="hidden">

        <h1>Carrito de compras</h1>

        <i class="fa-solid fa-xmark" id="close-cart"></i>

        <section class="cartItems"></section>

        <div id="cartTotalContainer">
        <section class="cartTotal">

            <p id="total">Total</p>
            <p id="pesos">$</p>
        </section>
        <a href="/cart" id="payButton">Ir a pagar</a>
        </div>
    </div>

    <script src="/javascripts/header.js" defer> </script>
    <script src="/javascripts/cartContainer.js"></script>
</header>
