header {
    background-color: blueviolet;
    color: white;
    font-size: 14px;
    border-bottom: 2px solid black;
    transition: 0.2s;
    a{  
        color: white;
    }
    a:hover {
        color: #181717;
    }
}

#upper-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid black;
    a {
        transition: color 0.2s;
        padding-top: 0.15em;
        padding-bottom: 0.15em;
        align-self: center;
        i{
            font-size: 2.5em;
            padding: 0.15em;
        }
    }
}

#login {
    margin-left: 1em;
}

#logo {
    width: 8%;
    max-width: 90%;
    border-radius: 3%;
    box-shadow: 0px 0px 15px  rgb(22, 22, 22);
    margin: 0 !important;
    padding: 0 !important;
    img {
        width: 100%;
    }
}

#barra {
    width: 50% !important;
    position: relative;

}

#submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    background-color: white;
    padding: 0.82em;
    border: none;
    border-left: 1px solid #ebebeb;
}

#search-bar {
    padding: 0.8em;
    border: 1px solid #ebebeb;
    font-size: 16px;
    border-radius: 5px;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 8em;
    margin-right: 9em;
    height: 2.2em;
        li {
            transition: .1s;
            margin-top: 0.5em;
            a {
                padding-top: 0.35em;
                padding-bottom: 0.35em;
            }  
        }
}

li div {
    display: flex;
    align-items:flex-start;
    i {
        position: relative;
        top: -7px;
        right: 10px;
    }
}

li div:hover {
    cursor:pointer;
}

nav ul li i:hover {
    color: black;
}

.fa-solid {
    font-size: 20px;
}

.button-on-off {
    font-size: 30px;
}

.header-dark-mode {
        background-color: #181717 !important;

    #logo {
        border: 0;
        box-shadow: 0px 0px 10px #08BC08;
    }
    nav ul li a:hover,i:hover,li:hover {
        color: #08BC08;

    }

    #upper-bar {
        a:hover {
            color: #08BC08;
    }

}

}