footer {
    border:  none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 1em;
    border-top: 1px solid #DDDDDD;
    padding-bottom: 1em;
    transition: .2s;
}

.rights {
    width: 30%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2em;
}

.networks {
    display: flex;
    width: 40%;
    height: 200px;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    p {
        width: 100%;
        text-align: center;
    }
    i {
        cursor: pointer;
        transition: color .2s, font-size .2s;
        height: 80px;
    }
    i:hover {
        color: #2d2b2b;
        position: static;
        font-size: 5rem;

    }
}

.net {
    font-size: 4em;
}

footer img {
    width: 24%;
    border-radius: 35%;
}

.footer-dark-mode {
    border-top: 1px solid #1f1f1f;
    background-color: #2d2b2b;
    color: white;
    
}

@media screen and (max-width: 768px) {
    footer {
        padding-bottom: 0;
    }
    .networks {
        width: 40%;
        gap: .5em;
        i{
            font-size: 30px;
        }
    }
    .rights, p {
        font-size: x-small;
    }
    .rights {
        margin-left: 15px;
    }
    footer img {
        width: 34%;
        border-radius: 30%;
    }
}

@media screen and (max-width: 1025px) {
    footer {
        padding-bottom: 0;
    }
    .networks {

    }
    .rights, p {
        
    }
    .rights {
       
    }
    footer img {
 
    }
}




